# ----------------------------------------
# 1. IDE / 개발 환경 파일 (Eclipse, VS Code 등)
# ----------------------------------------
.metadata
.project
.classpath
.settings/
*.log
.vscode/

# ----------------------------------------
# 2. 빌드 결과 및 임시 폴더
# ----------------------------------------
# Java 컴파일 결과
/bin/
# Gradle 빌드 폴더
/build/
.gradle/
# Node Modules (Node.js 매칭 서버 사용 시)
/node_modules/

# ----------------------------------------
# 3. 임시 파일
# ----------------------------------------
*.bak